#contenido{
    width: 80%;
    margin: auto;
}
#navTabs{
    margin-left: 30%;
    padding-top: 1%;
}
#btnConfirmar{
    background-color: midnightblue;
    color: white;
    font-weight: bold;
 }


@media (max-width: 767px) {
    #navTabs{
        width: 100%;
        margin: auto;
        
    
     }
    
  }